body {
	background-color: #E0FFFF;
}

.floatRight {
	float: right;
}

.pageBlock {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	overflow: auto;
	padding: 20px;
}

.pageNarrow {
	margin: auto;
	width: 70%;
}

.pageWide {
	margin: 20px;
}